{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li class="cv-publication" itemscope itemtype="http://schema.org/ScholarlyArticle">
  <strong itemprop="headline">
    <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
  </strong>
  {% if post.venue %}
    <br><span class="cv-publication-meta"><em itemprop="publisher">{{ post.venue }}</em>{% if post.date %}, {{ post.date | date: "%Y" }}{% endif %}</span>
  {% endif %}
</li>
